# ide
/.clj-kondo/.cache/
/.lsp/.cache/
/.calva/output-window/
/.nrepl-port

# shadow-cljs + npm/yarn
/.shadow-cljs/
/node_modules/
/.cpcache/

# build output and ignorables
/public/js/
/public/index.html
/public/manifest.json
/public/sw.js
*.x
*.tgz
.DS_Store
