{:deps {:aliases [:shadow]}

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn grmble.loglifter.frontend.main/init!
                    :preloads [re-frisk.preload]}}
   :js-options
   {:resolve {"react" {:target :npm
                       :require "preact/compat"}
              "react-dom" {:target :npm
                           :require "preact/compat"}}}
   :build-hooks ;; public/js/report.html
   [(shadow.cljs.build-report/hook)]}


  :test
  {:target :node-test
   :output-to "public/js/test.js"
   :autorun true}}}
